*,
*::before,
*::after {
  box-sizing: border-box;
}

/* GENERALITES POLICES ET COULEUR */

body {  
    background: linear-gradient(#ff74f1, #5aa7ee, #ffa69c, #ffbe73, #7effd8);
    font-family: 'ABeeZee', sans-serif;
    font-size: var(--corps);
}


h1, h2, h3 {
    font-family: 'Alata', sans-serif;
    font-weight:100;
}


/* padding et marges */
h1, h2, h3, p {
    padding-left: 5%;
    padding-right: 5%;
}
 
h3, p {
    padding-left: 2%;
    padding-right: 2%;
}

/*liens (généraux)*/
a {
    color: var(--black);
    font-weight: bold;
}
  /*marges globales de la page*/
.container {
    padding-left: var(--space3rd);
    padding-right: var(--space3rd);
}

  /*les listes à puce avec cette classe n'ont plus de puces*/
.listUnstyled {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  /* le bouton HTML par défaut n'apparaît pas*/
button {
    appearance: none;
    border: none;
    background: none;
    padding: 20px;
    cursor: pointer;
}