*,
*::before,
*::after {
  box-sizing: border-box;
}

/*body {
    background: linear-gradient(90, var(--violet), var(--bleu), var(--rouge), var(--orange), var(--vert))
}*/

body {  
    background: linear-gradient(#ff74f1, #5aa7ee, #ffa69c, #ffbe73, #7effd8);
    font-family: 'ABeeZee', sans-serif;
/*
font-family: 'ABeeZee', sans-serif;
font-family: 'Alata', sans-serif;
font-family: 'Roboto', sans-serif;
*/
    font-size: var(--corps);
}

h1, h2, h3 {
    font-family: 'Alata', sans-serif;
    font-weight: normal;
}

a {
    color: blueviolet;
}

main {
    padding-left: 5%;
    padding-right: 5%;
}
