/* appliquer cette classe aux images devant prendre toute la place de
l'écran*/
video {
    max-width: 100%;
    height: auto;
    padding: 10px;
  }

  figcaption {
    color: var(--grey);
    font-size: var(--description-article);
    text-align: center;
  }