:root {
/* Color styles */
--black: rgba(0,0,0,1);
--white: rgb(255, 255, 255);
--transparent-white: rgba(255, 255, 255, 0.65);
--grey-background: rgba(212,212,212, 1);
--dark-grey: rgba(51, 51, 51, 1);
--grey: rgba(75, 75, 75, 1);
--grey-date: rgba(137, 137, 137, 1);
--light-grey: rgba(200, 200, 200, 1);
--vert: rgba(126, 255, 216, 1);
--orange: rgba(255, 190, 115, 1);
--rouge: rgba(255, 166, 156, 1);
--bleu: rgba(90, 167, 238, 1);
--important-name: rgba(0,57,205, 1);
--violet: rgba(255, 116, 241, 1);

/* Text-size styles */

--titre-accueil: 2.625rem;                  /*42px*/
--titre-accueil-extras: 3rem;               /*48px*/
--titre-extras: 4rem;                       /*64px*/
--menu-hamb-1-and-titre-art-acc: 1.875rem;  /*30px*/
--menu-hamb-2: 1.625rem;                    /*26px*/
--menu-hamb-3-and-start: 1.5rem;            /*24px*/
--button-1: 1.5rem;                         /*24px*/
--button-2: 1.25rem;                        /*20px*/
--footer-and-desc-accueil: 1.125rem;        /*18px*/

--titre-article: 2.25rem;                   /*36px*/
--sous-titre-article: 1.625rem;             /*26px*/
--quote: 1.20rem; 
--corps: 1.063rem;                          /*17px*/
--description-article: 0.75rem;             /*12px*/

/* Effect styles */
--effet-galerie:  -1px 10px 4px rgba(0, 0, 0, 0.25);

/* Espaces */
  --space1st: 8px;
  --space2nd: 16px;
  --space3rd: 24px;
  --space4th: 48px;
}