
.cloud_background_about {
    top:100px;
}




.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




.contact_tagline {
    text-align: center;
    
}