.footerpage {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    background: var(--black);
    color: var(--white);
    padding: 5%;
    font-size: var(--footer-and-desc-accueil);
}

.footer__link {
    color: var(--white);
    font-weight: normal;
}

.back__button {
    display: flex;
    justify-content: center;
    margin: 6vh;
  }

.back__target {
  visibility: hidden;
  padding-top: 10vh;
}

.footerpage__icon {
  display: flex;
  justify-content: center;
  gap: 5vh;
}

.footerpage__iconli {
    width: 5vh;
    height: 5vh;
  }