.footerpage {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    background: var(--black);
    color: var(--white);
    padding: 5%;
    font-size: var(--footer-and-desc-accueil);
}

.footer__link {
    color: var(--white);
    font-weight: normal;
}

/* bouton retour haut de page*/
.back__button {
    display: flex;
    justify-content: center;
    margin: 6vh;
  }

.back__target {
  visibility: hidden;
  padding-top: 10vh;
}

/*animation haut de page*/
/* EN CONSTRUCTION !!!!
  .back__button__link:active {
    transition: 1000ms ease-in-out;
  }
  */



/* icones réseaux sociaux*/
.footerpage__icon {
  display: flex;
  justify-content: center;
  gap: 5vh;
}

.footerpage__iconli {
    width: 5vh;
    height: 5vh;
  }

          /* animation réseaux sociaux*/
.footerpage__iconli:hover {
  filter: opacity(80%);
  transform: rotate(360deg);
  transition: transform 500ms ease-out;
}

/*icones langues*/
  .footerpage__lang {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3vh;
    margin-bottom: 2vh;
  }
/*animation langue*/

.footerpage__lang-link:hover {
  transform: rotate(360deg);
  transition: transform 500ms ease-in-out;
}
/* taille des images (langues)*/
  .footer__lang-img {
    width: 40px;
  }