.glossary_bg {
    background: linear-gradient(#5aa7ee, #ff74f1);
    width: 100%;
    height: 100%;
}

.otherpages__name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 0px;
    font-weight: bold;
}

.glossary__az {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

    font-size: var(--titre-accueil-extras);
    color: var(--white);
    font-weight: normal;
}

.glossary__letter {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: var(--sous-titre-article);
    font-weight: bold;
    margin-top: 60px;
}

#anti_heroine, #antigone, #capitalisme, #chipko, #feminisme_radical, #gen_y, #hype_underground, #indie_rock, #ismene, #misandrie, #ogm, #patriarcat, #pop_porn, #pornographie, #pro_sexe, #quartier_chaud, #seropositif, #sex_wars {
    padding-top: 10%;
}