.headerpage {
    position: fixed;
    background: var(--black);
    color: var(--white);
    padding: 1vh;
    top: 0;
    left: 0;
    /*position: fixed;*/
    width: 100%;
    z-index: 3;
}

.header__start {
    display: flex;
    align-items: flex-start;
  }

.menu__link {
    color:var(--white);
    font-weight: normal;
}

/*Liens du menu pour le mettre en couleur (beta)
.a[attr*="header__link"] {
    color: var(--white);
    font-weight: normal;
}
*/
