.headerpage {
    position: fixed;
    background: var(--black);
    color: var(--white);
    padding: 1vh;
    top: 0;
    left: 0;
    /*position: fixed;*/
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu-btn {
    top: -0.5vw;
    margin-right: 4vw;
}

.header__logo {
    margin-left: 2vw;
}

