.headerpage {
    position: fixed;
    background: var(--black);
    color: var(--white);
    padding: 1vh;
    top: 0;
    left: 0;
    /*position: fixed;*/
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerpage__end {
    display: flex;
    flex-direction: row;
    align-items: center;
} 

.header__logo {
    margin-top: 1vh;
    margin-left: 1vw;
}

.header__menu-btn {
    top: -0.5vw;
    margin-right: 4vw;
}

.headerpage__back {
    padding-top: 2px;
    padding-right: 10px;
}