.otherpages__name {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 0px;
    font-weight: bold;

    text-transform: uppercase;
    text-align: center;
    font-size: var(--titre-extras);
    color: var(--white);
}

.cloud_background2 {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
  }

.otherpages__bg {
    background: var(--bleu);
}

.cloud_background {
    background-image: url(../../../assets/img/cloud_bg.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 00px;
  }