.extra__button-redirection-div {
    display: flex;
    justify-content: center;
    margin: 6% 2% 2% 2%;
}

.extra__button-redirection-frise {
    font-size: var(--button-1);
    padding: 13.5px 150px;

    background-color: var(--white);
    color: var(--black);
    border-radius: 37px;

    text-decoration: none;
    font-family: 'Alata', sans-serif;
    text-align: center;
    font-weight: normal;
}

.extra__button-redirection-article1 {
    font-size: var(--button-2);
    padding: 15px 60px;

    background-color: var(--white);
    color: var(--black);
    border-radius: 25px;

    text-decoration: none;
    font-family: 'Alata', sans-serif;
    text-align: center;
    font-weight: normal;
}

.extra__button-redirection-gallery {
    font-size: var(--button-1);
    padding: 13.5px 137px;

    background-color: var(--white);
    color: var(--black);
    border-radius: 37px;

    text-decoration: none;
    font-family: 'Alata', sans-serif;
    text-align: center;
    font-weight: normal;
}


/* BOUTON DES CARD (homepage): cf card.css

.homepage__link__div {
    display: flex;
    justify-content: center;
}

.homepage__link {

    Contenu
    text-decoration: none;
    font-family: 'Alata', sans-serif;
    font-weight: normal;
    font-size: var(--footer-and-desc-accueil);

    Fond du bouton
    padding: 12px 70px;
    margin-bottom: 3vh;
    background: var(--white);
    border-radius: 25px;
}

.homepage__link:hover {
    background-color: var(--bleu);
    transition: background-color 200ms ease-in-out;
}
*/