.extra__button-redirection-div {
    display: flex;
    justify-content: center;
    margin: 20px 2% 20px 2%;
}

.extra__button-redirection-article1, 
.extra__button-redirection-frise,
.extra__button-redirection-gallery {
    background-color: var(--white);
    color: var(--black);

    text-decoration: none;
    font-family: 'Alata', sans-serif;
    text-align: center;
    font-weight: normal;
}

.extra__button-redirection-frise {
    font-size: var(--button-1);
    padding: 13.5px 150px;
    border-radius: 37px;
}
.gallery__frise-btn {
    margin-top: 15%;
}

.extra__button-redirection-article1 {
    font-size: var(--button-2);
    padding: 15px 60px;
    border-radius: 25px;
}

.extra__button-redirection-gallery {
    font-size: var(--button-1);
    padding: 13.5px 137px;
    border-radius: 37px;
}


/* BOUTON DES CARD (homepage): cf card.css (ici, c'est juste pour le consulter plus rapidement)

.homepage__link__div {
    display: flex;
    justify-content: center;
}

.homepage__link {

    Contenu
    text-decoration: none;
    font-family: 'Alata', sans-serif;
    font-weight: normal;
    font-size: var(--footer-and-desc-accueil);

    Fond du bouton
    padding: 12px 70px;
    margin-bottom: 3vh;
    background: var(--white);
    border-radius: 25px;
}

.homepage__link:hover {
    background-color: var(--bleu);
    transition: background-color 200ms ease-in-out;
}
*/