
.extrahero {
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.extrahero-frise {
    background-image: url(../../../assets/img/frise_fond.webp);
    background-position: left top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding-bottom: 80%;
}

.extrahero-galerie {
    background-image: url(../../../assets/img/galerie_fond.webp);
    background-position: left top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    padding-bottom: 80%;
}

/*fond de la page EXTRA*/
.extra__bg {
    background: var(--grey);
}

/*ensemble du texte + bouton*/
.extra__hero {
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;

    font-weight:100;
    color: var(--white);
}

/*titre extra*/
.extra__hero__name {
    text-transform: uppercase;
    text-align: center;
    font-size: var(--titre-extras);
    color: var(--white);
}


/*bouton scroll extra*/
.extra__hero__button {
    width: 70px;
    margin-top: 20px;
}

