.hero {
    top: 0;
    left:0;
    margin-top: 10vh;
    margin-bottom: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero__title {
    font-size: var(--titre-accueil);
    font-family: 'Alata', sans-serif;
    font-weight: normal;
    text-align: center;
    color: var(--black);
}

.hero__desc {
    font-size: var(--footer-and-desc-accueil);
    font-family: 'Alata', sans-serif;
    font-weight: normal;
    color: var(--black);
    text-align: normal;
    margin-top: 2vh;
}

.hero__start {
    text-align: center;
    font-family: 'Alata', sans-serif;
    font-weight: normal;
    color: var(--white);
}

.hero__start__button {
    text-align: center;
}

.hero__img {
    position: relative;
    display: flex;
    justify-content: center;
}